<div class="container img-body-error">
    <div class="row">
        <div class="col-md-12">
            <div class="center" style="margin-top:10px;">
                <div class="col-md-10 col-md-offset-1 pull-right">
                    <img class="dialog-error" src="{{ url_for('static', filename='images/NotFound.png')}}">
                    <p>Oops! can not find what you are looking for!</p>
                    <div class="error-actions">
                        <a href="/" class="a-btn a-btn--small header__main-btn">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Accueil
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>