<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Suppression d'installation</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>êtes-vous sûr de vouloir supprimer <span class="text-primary">{{installationName}}</span></strong></p>
  <p>Toute information associée va être définitivement supprimée
  <span class="text-danger">L'opération ne peut pas être annulée.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
  <button type="button" ngbAutofocus class="btn btn-danger" (click)="onDeleteInstallation()">Ok</button>
</div>
