
    <div class="modal-header">
      <h5 class="modal-title" id="updateGlissadeModalLabel">Edit Glissade {{editGlissade?.name}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="errorMessage" class="alert alert-warning">
      <strong>Warning!</strong> {{errorMessage | json}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;
      </button>
    </div>
    <div *ngFor="let message of errorMessages"class="alert alert-danger" >
      <strong>Warning!</strong> {{message | json}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
    </div>
    <div class="modal-body">
      <form [formGroup]="glissadeForEditForm" [hidden]="success" (ngSubmit)="onUpdateGlissade()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"  formControlName="name" class="form-control" id="name"
            aria-describedby="glissadeName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="date_maj">Date maj</label>
          <input type="datetime-local"  formControlName="date_maj" class="form-control" id="date_maj"
            placeholder="date de mise à jour">
          <span class="text-danger" *ngIf="glissadeForEditForm.controls['date_maj'].invalid && glissadeForEditForm.controls['date_maj'].touched">
              Veuillez choisir une date!
          </span>
        </div>
        <div class="form-group">
          <label for="ouvert">Ouverte</label>
          <input type="text"  formControlName="ouvert" class="form-control" id="ouvert"
            placeholder="Status de glissade : ouvert">
          <span class="text-danger" *ngIf="glissadeForEditForm.controls.ouvert.touched && glissadeForEditForm.controls.ouvert.invalid">
              Oui pour ouvert sinon Non
          </span>
        </div>
        <div class="form-group">
          <label for="deblaye">Deblayée</label>
          <input type="text"  formControlName="deblaye" class="form-control" id="deblaye"
            placeholder="Status de glissade : deblaye">
          <span class="text-danger" *ngIf="glissadeForEditForm.controls['deblaye'].invalid && glissadeForEditForm.controls['deblaye'].touched">
              Oui pour deblayée sinon Non
          </span>
        </div>
        <div class="form-group">
          <label for="condition">condition</label>
          <input type="text"  formControlName="condition" class="form-control" id="condition"
            placeholder="Etat de glissade">
          <span class="text-danger" *ngIf="glissadeForEditForm.controls['condition'].invalid && glissadeForEditForm.controls['condition'].touched">
              Condition est requise
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
          <button data-dismiss="modal" class="btn btn-primary" [disabled]="glissadeForEditForm.invalid">Save changes</button>
        </div>
      </form>
    </div>
    <div *ngIf="success">
      Yay! We received your submission
    </div>



<!-- glissade_id: number,
name: string,
date_maj?: Date,
ouvert?: boolean,
deblaye?: boolean,
condition?: string -->


<!-- <div class="modal-header">
  <h4 class="modal-title" id="modal-title">Profile deletion</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to delete <span class="text-primary">"John Doe"</span> profile?</strong></p>
  <p>All information associated to this user profile will be permanently deleted.
  <span class="text-danger">This operation can not be undone.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
  <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
</div> -->

