<header class="top-bar" id="header" style="margin-bottom: 200px">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark" id="navigation">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img class="img header__logo" src="/assets/images/logo.svg" alt="data app logo">
        <!--src="{{url_for('static', filename='images/logo.svg')}}"-->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto dropdown">
          <li class="nav-item">
            <!-- <a class="nav-link" (click)="openAddArticleComp()">Ajouter article</a> -->
            <a class="nav-link">Ajouter article</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="action">Action</a>
              <a class="dropdown-item" routerLink="another-action">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="something-else-here">Something else here</a>
            </div>
          </li>
        </ul>
        <!-- search special-->
        <form [formGroup]="searchForm" (ngSubmit)="getAllInstallations()" class="d-flex">
          <input class="form-control" type="search" placeholder="Arrondissement name..." aria-label="Search"
            formControlName="search" required="required">
          <button class="btn btn-outline-success" type="submit" style="margin-left:5px">Search</button>
        </form>
        <!-- search ends here -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown user-dropdown align-items-center">
            <a class="nav-link text-white" href="#" id="dropdown-user" role="button" data-toggle="dropdown">
              <span class="ml-2 h-lg-down dropdown-toggle"> <i class="fa fa-user-circle fa-2x"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
              <!-- <a class="dropdown-item" (click)="logOutUser()" *ngIf="currentUser">Logout</a>
              <a class="dropdown-item" (click)="logOutUser()" *ngIf="currentUser">Dashboard</a>
              <a class="dropdown-item" (click)="openLoginComp()" *ngIf="currentUser == null as any"><i class="icon-User"></i>login</a>
              <a class="dropdown-item" (click)="openRegisterComp()" *ngIf="currentUser == null as any"><i class="icon-Newspaper"></i>Signup</a> -->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div class="container">
  <div class="row">

    <!-- <div class="col-xl-5">
      <div class="card">
        <div class="card-body text-center">
            <div class="row">
                <div class="col-4 border-end border-light">
                    <h5 class="text-muted mt-1 mb-2 fw-normal">Applied</h5>
                    <h2 class="mb-0 fw-bold">116</h2>
                </div>
                <div class="col-4 border-end border-light">
                    <h5 class="text-muted mt-1 mb-2 fw-normal">Reviewed</h5>
                    <h2 class="mb-0 fw-bold">87</h2>
                </div>
                <div class="col-4">
                    <h5 class="text-muted mt-1 mb-2 fw-normal">Contacted</h5>
                    <h2 class="mb-0 fw-bold">98</h2>
                </div>
            </div>
        </div>
      </div>
      </div> -->
    <div class="col-12">
      <!-- <div class="col-xl-7"> -->
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Installations Aquatiques</a>
          <ng-template ngbNavContent>
            <div class="card card-margin">
              <!-- <div class="card"> -->
              <div class="card-body">
                <div class="row search-body">
                  <div class="col-lg-12">
                    <div class="search-result">
                      <div class="result-header">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="records">Affichage: <b>{{results}}</b> resultats</div>
                          </div>
                          <div class="col-lg-6">
                            <div class="result-actions">
                              <div class="result-sorting d-flex justify-content-center">
                                <span>Chercher par nom d'installation:</span>
                                <form [formGroup]="instNamesForm" (change)="filterByInstallationName()">
                                  <select class="form-control border-0" id="exampleOption" formControlName="instaName">
                                    <option [ngValue]="null" disabled>-Choisir un nom-</option>
                                    <option *ngFor="let aqua of aqua_inst_perm" [ngValue]="aqua?.nom_installation">
                                      {{aqua?.nom_installation}}</option>
                                  </select>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="result-body">
                        <div class="table-responsive">
                          <table class="table widget-26">
                            <thead>
                              <tr>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Map</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Nom installation</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Type installation</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">ADRESSE</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">PROPRIETE</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Gestion</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Equipement</p>
                                  </div>
                                </th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let aqua of aqua_inst">
                              <tr>
                                <td>
                                  <div class="widget-26-job-emp-img">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Company" />
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{aqua?.nom_installation}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{aqua?.type_installation}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{aqua?.adress}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{aqua?.propriete_installation}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{aqua?.gestion_inst}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{aqua?.equipement_inst}}</p>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div *ngIf="searchResult == true" class="result-body d-flex justify-content-center">
                            <h3>Aucun resultat pour cette recherche</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Glissades</a>
          <ng-template ngbNavContent>
            <div class="card card-margin">
              <!-- <div class="card"> -->
              <div class="card-body">
                <div class="row search-body">
                  <div class="col-lg-12">
                    <div class="search-result">
                      <div class="result-header">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="records">Affichage: <b>{{results}}</b> resultats</div>
                          </div>
                          <div class="col-lg-6">
                            <div class="result-actions">
                              <div class="result-sorting d-flex justify-content-center">
                                <span>Chercher par nom de glissade:</span>
                                <form [formGroup]="glissadeNamesForm" (change)="filterByGlissadeName()">
                                  <select class="form-control border-0" id="exampleOption" formControlName="glissadeName">
                                    <option [ngValue]="null" disabled>-Choisir un nom de glissade-</option>
                                    <option *ngFor="let glissade of glissades_perm" [ngValue]="glissade?.name">
                                      {{glissade?.name}}</option>
                                  </select>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="result-body">
                        <div class="table-responsive">
                          <table class="table widget-26">
                            <thead>
                              <tr>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Map</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Nom installation</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Type installation</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">ADRESSE</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">PROPRIETE</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Gestion</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Equipement</p>
                                  </div>
                                </th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let aqua of aqua_inst">
                              <tr>
                                <td>
                                  <div class="widget-26-job-emp-img">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Company" />
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{aqua?.nom_installation}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{aqua?.type_installation}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{aqua?.adress}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{aqua?.propriete_installation}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{aqua?.gestion_inst}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{aqua?.equipement_inst}}</p>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div *ngIf="searchResult == true" class="result-body d-flex justify-content-center">
                            <h3>Aucun resultat pour cette recherche</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Patinoires</a>
          <ng-template ngbNavContent>
            <div class="card card-margin">
              <!-- <div class="card"> -->
              <div class="card-body">
                <div class="row search-body">
                  <div class="col-lg-12">
                    <div class="search-result">
                      <div class="result-header">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="records">Affichage: <b>{{results}}</b> resultats</div>
                          </div>
                          <div class="col-lg-6">
                            <div class="result-actions">
                              <div class="result-sorting d-flex justify-content-center">
                                <span>Chercher par nom de patinoire:</span>
                                <form [formGroup]="patinoireNamesForm" (change)="filterByPatinoireName()">
                                  <select class="form-control border-0" id="patinoiresOption" formControlName="patinoireName">
                                    <option [ngValue]="null" disabled>-Choisir un nom-</option>
                                    <option *ngFor="let patinoire of patinoires_perm" [ngValue]="patinoire?.nom_pat">
                                      {{patinoire?.nom_pat}}</option>
                                  </select>
                                </form>
                                <span>Filtrer par année:</span>
                                <form [formGroup]="yearsForm" (change)="filterByYear()">
                                  <select class="form-control border-0" id="yearOption" formControlName="conditionyear">
                                    <option [ngValue]="null" disabled>-Choisir une année-</option>
                                    <option *ngFor="let year of condition_years" [ngValue]="year">
                                      {{year}}</option>
                                  </select>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="result-body">
                        <div class="table-responsive">
                          <table class="table widget-26">
                            <!-- <div *ngFor="let patinoire of patinoires"> -->
                            <thead>
                              <tr>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Date et heure</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Arrosée</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Deblayée</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Ouvert</p>
                                  </div>
                                </th>
                                <th>
                                  <div class="widget-26-job-category bg-soft-base">
                                    <p class="type m-0">Resurfacée</p>
                                  </div>
                                </th>
                              </tr>
                            </thead>
                            <!-- <tbody *ngFor="let condition of patinoires?.conditions"> -->
                            <tbody *ngFor="let condition of selectedPatinoir?.conditions">
                              <tr>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{condition?.date_heure}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{condition?.arrose}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{condition?.deblaye}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{condition?.ouvert}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-26-job-info">
                                    <p class="text-muted m-0">{{condition?.resurface}}</p>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                            <!-- </div> -->
                          </table>
                          <div *ngIf="searchResult == true" class="result-body d-flex justify-content-center">
                            <h3>Aucun resultat pour cette recherche</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      <!-- </div> -->
    </div>
  </div>
</div>


<footer class="footer footer_area">
  <div class="container">
    <div class="row">
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Footer Logo-->
          <div class="footer-logo mb-3"></div>
          <div class="copywrite-text mb-5">
            <p class="mb-0">Fait par <a class="ml-1"
                href="https://github.com/cryptoswarm/INF5190-Web-Avance-TP1/tree/vagrant-project-v1">CryptoSwarm</a></p>
          </div>
          <!-- Copywrite Text-->
          <div class="copywrite-text mb-5">
            <p class="mb-0">Inspiré <i class="lni-heart mr-1"></i>des<a class="ml-1"
                href="http://bootdey.com/license">Templates de bootdey.com</a></p>
          </div>
          <!-- Footer Social Area-->
          <div class="footer_social_area"><a href="#" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#" data-toggle="tooltip"
              data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a><a
              href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i
                class="fa fa-skype"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">About</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Community</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Support</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Contact</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a href="">Email Us</a></li>
              <li><a href="">Term &amp; Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
